@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    display:flex;
    flex-flow: column;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
}

header {
   
   max-height: 5rem;
   display:flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
    
}

header nav {
    display:flex;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-flow: row;
    padding: 0;
    margin:0;
    list-style: none;
}

header nav a {
    font-size:0.8rem;
    text-decoration:none;
    color: darkgray;
    padding: 0.5rem;
    font-weight: bold;

}

main #banner{
    display: flex;
    width: 100%;
}

main > h1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 2.8rem;
    color: #000000;
}

.fotos{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    
}

.promocao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: #C2185B;
    margin-bottom:40px;
}

.promocao > h1 {
    text-align: center;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 2.5;
    color: #FFFFFF;
    margin-top: 25px;
}
.promocao > ul {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    list-style:none;
    margin-right: 40px;
}
.produtos {
    margin: 0.5rem;
    height: 388px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.produtos > span {
    font-size: 1rem;
    line-height: 1rem;
    color: #000000;
    display:block;
    margin-top: 318px;
}

.produtos .preco{
    font-size: 1rem;
    line-height: 1rem;
    color: #000000;
    display:block;
    margin-top: 10px;
}

.shoes1 {
    background-image: url('./img/shoes1.png');
    background-repeat: no-repeat;
}

.shoes2 {
    background-image: url('./img/shoes2.png');
    background-repeat: no-repeat;
}

.shoes3 {
    background-image: url('./img/shoes3.png');
    background-repeat: no-repeat;
}
.shoes4 {
    background-image: url('./img/shoes4.png');
    background-repeat: no-repeat;
}

#produto-destaque  {
    width: 100%;
    display:flex;
    flex-flow: row wrap ;
    justify-content: center;
    align-items:flex-end;
    column-gap: 50px; 
}

#produto-destaque  h2 {
    font-size: 2rem;
    line-height: 2rem;
    color: #000000;
    margin-bottom: 60px;
}

#produto-destaque #ver-detalhes {
    width: 20rem;
    height: 5rem;
    background-color: #C2185B;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 60px;
    
}

#produto-destaque #foto-destaque{
    margin-top: 10px;
}

footer {
   
    background-color:#C2185B;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 1rem;
    color: #FFFFFF;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
}

.menu-footer {
    display: flex;
    flex-flow: row nowrap;
}

.menu-footer  ul {
    list-style: none;
    text-align: center;
   }

.logo-texto img {
   width: 120px;
}

.logo-texto > article{
    width: 120px;
    word-break: break-word;
}
